body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('location.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: #fffafa;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.location-info {
    
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map {
    margin-top: 40px;
    padding-right: 20px;
    align-self: auto;
    display: flex;                /* Use flexbox */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    height: 70vh; 

}

.directions {
    align:center;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;                   /* Set the width of the map */
    height: 80%;                  /* Set the height of the map */
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
    padding: 8px 15px 20px 25px; /* Padding for clickable area */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}